<% if user_signed_in? %>
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>控制台</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
      </li>
      <li class="treeview active">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>個人基本資料</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%= yield(:view_profile) %>">
            <%= link_to (raw("&nbsp;&nbsp;&nbsp;檢視個人基本資料")), user_url(current_user), class:"fa fa-circle-o" %>
          </li>
          <li class="<%= yield(:edit_profile) %>">
            <%= link_to (raw("&nbsp;&nbsp;&nbsp;編輯個人基本資料")), edit_user_registration_path(current_user), class:"fa fa-circle-o" %>
          </li>
          <li class="<%= yield(:blank_profile) %>">
            <%= link_to (raw("&nbsp;&nbsp;&nbsp;Blank")), users_url(current_user), class:"fa fa-circle-o" %>
          </li>
        </ul>
      </li>
      <li>
        <a href="../calendar.html">
          <i class="fa fa-calendar"></i> <span>行事曆</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-comments-o"></i> <span>討論版</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="../examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
          <li><a href="../examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
          <li><a href="../examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
        </ul>
      </li>
      <li class="header">LABELS</li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<% end %>