<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
  <div class="wrapper">
  	<%= render 'common/member_header' %>
  	<%= render 'common/messages' %>
  	<%= yield :sidebar %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    	<%= yield %>
    </div>
    <%= render 'common/member_footer' %>
  </div>
</body>
</html>
