<% provide(:edit_profile, "active") %>
<% provide(:title, "編輯個人基本資料")%>

<% content_for(:sidebar) do %>
  <%= render "common/sidebar" %>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Profile
    <small>編輯個人基本資料</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Profile</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> AdminLTE, Inc.
        <small class="pull-right">Date: 2/10/2014</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> 編輯個人檔案</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-inputs">
                    <%= f.input :first_name, placeholder: "First Name", required: true, autofocus: true %>
                    <%= f.input :last_name, placeholder: "Last Name", required: true, autofocus: true %>

                    <%= f.input :gender, as: :select, collection: [['Male', 'male'], ['Female', 'female']], prompt: 'none' %>

                    <%= f.input :email, placeholder: "sophia@example.com", required: true, autofocus: true %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>

                    <%= f.input :password, autocomplete: "off", placeholder: "如果您不想變更密碼，此欄位請留白", required: false %>
                    <%= f.input :password_confirmation, placeholder: "如果您不想變更密碼，此欄位請留白", required: false %>
                    <%= f.input :current_password, placeholder: "我們需要您目前的密碼，以確認您的更改", required: true %>
                  </div>

                  <%= button_tag type: "submit", class: "btn btn-large btn-primary btn-block" do %>
                    <i class="fa fa-save"></i> 儲存變更
                  <% end %>
                <% end %>
              </div>
              <!-- /.col-lg-12 (nested) -->
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <div class="col-lg-6">
        <div class="panel panel-danger">
          <div class="panel-heading"><i class="fa fa-trash-o" aria-hidden="true"></i> 註銷帳號</div>
          <div class="panel-body">
            <div>
              <h3>取消我的帳號</h3>
              <p>
                <%= button_to "確認註銷我的帳號", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-large btn-danger" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>

